---
import ContactItem from "./ContactItem.astro"
---

<div class="contacts fixed z-10 mb-[40px] mr-28 bottom-0 right-0">
    <div class="text-white text-xs tracking-[0.2rem]">
        <ContactItem icon_cat="brands" icon="square-twitter" text="__smitharia" url="https://twitter.com/__smitharia"/>
        <ContactItem icon_cat="brands" icon="instagram" text="__smitharia" url="https://www.instagram.com/__smitharia"/>
        <ContactItem icon_cat="regular" icon="envelope" text="info@smitharia.com" url="mailto:info@smitharia.com"/>
        <div class="text-right">©smitharia.com</div>
    </div>
</div>

<style>
</style>

<script>
</script>
