---
import Layout from '../../layouts/Layout.astro';
import Works from '../../components/works/Works';
import { getRawCats } from '../../lib/WP.ts';

export async function getStaticPaths() {
    const cats = await getRawCats();
    const catSlug = cats.map((cat) => {return{params: {catSlug: encodeURI(cat.slug)}}});
    return catSlug;
}
const cats = await getRawCats();
const { catSlug } = Astro.params;
const cat = cats.find((cat) => cat.slug === catSlug);
---

<Layout limited={true} title="" pagename={cat?cat.name:"works"}>
	<main class="w-full">
		<Works client:load limited={true} disableSlider filterCatId={cat?.id}/>
	</main>
</Layout>

<style>
	main {
	}
</style>

<script>
</script>