---
import Layout from '../../layouts/Layout.astro';
import Works from '../../components/works/Works.astro';
---

<Layout limited={true} title="" pagename="works">
	<main class="w-full">
		<Works limited={true}/>
	</main>
</Layout>

<style>
	main {
	}
</style>

<script>
</script>