---
import Layout from '../layouts/Layout.astro';
import Works from '../components/works/Works';
---

<Layout title="" pagename="works">
	<main class="w-full">
		<Works client:load limited={false}/>
	</main>
</Layout>

<style>
	main {
	}
</style>

<script>
</script>