---
import { type Work } from '../../lib/WP';
interface Props {
	work: Work;
}

const { work } = Astro.props;
---

<div
	class={"mb-28 md:mb-0 h-[300px] md:h-full "+
		(work.acf.extend_column?"col-span-2 ":"")+
		(work.acf.extend_row?"row-span-2":"")
	}
>
	<a href={"/work/"+work.id}>
		<img
			class="w-full h-full object-cover"
			src={work.acf.thumbnail.sizes.medium_large}
			alt={work.acf.thumbnail.alt==""?work.title.rendered:work.acf.thumbnail.alt}
		>
		<h2 class="md:hidden w-1/2 text-white -translate-y-1/2 drop-shadow font-serif ml-10">{work.title.rendered}</h2>
	</a>
</div>

<style>
</style>

<script>
</script>