---
import { Image } from 'astro:assets';
import noise from '../../assets/images/noise.jpg';
---

<div id="wrapper" class="fixed top-0 left-0 w-full h-full z-[-1]">
    <Image class="w-full h-full" src={noise} alt="Noise" />
    <!-- <canvas class="w-full h-full"></canvas> -->
</div>

<style>
</style>

<script>
</script>
