---
interface Props {
	name: string;
}

const { name } = Astro.props;
// translate-x-2/4 translate-y-full rotate-90
---

<div class="pagename fixed z-10 mt-[190px] md:mt-[80px] mr-0 md:mr-20 top-0 right-0">
    <div class="textbox tracking-widest text-6xl md:text-8xl font-black text-white">
        {name}
    </div>
</div>

<style>
    .pagename .textbox{
        writing-mode:  vertical-rl;
    }
</style>

<script>
</script>
