---
import Sidebar from '../components/common/Sidebar/Sidebar.astro';
import Contacts from '../components/common/contacts/Contacts.astro';
import PageTop from '../components/common/PageTop.astro';
import Pagename from '../components/common/Pagename.astro';
import BG from '../components/common/BG.astro';
import '@fontsource/libre-caslon-text';
interface Props {
	title: string;
	pagename: string;
}

const { title, pagename } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-2LJ2G1LB0T"></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-2LJ2G1LB0T');
        </script>
		
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		

		<!-- 一般的なタグ -->
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<meta name="description" content="Creative Platform">
		<meta name="keywords" content="{{ video, installation, software, web, graphic }}">
		<!-- 設定 -->
		<meta name="format-detection" content="telephone=no,email=no,address=no">
		<!-- SNS向け -->
		<meta property="og:type" content="website">
		<meta property="og:title" content="smitharia">
		<meta property="og:description" content="Creative Platform">
		<meta property="og:url" content="https://smitharia.com">
		<meta property="og:image" content="/favicon.svg">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@__smitharia">
		<meta name="twitter:creator" content="@__smitharia">
		<!-- アイコン関係 -->
		<link rel="icon" type="shortcut icon" href="/favicon.svg">
		<link rel="apple-touch-icon" sizes="256" href="/favicon.svg">
		<!-- Android -->
		<meta name="theme-color" content="#000000">


		<title>{title==""?"smitharia":title+" | smitharia"}</title>
		<link rel="stylesheet" href="https://use.typekit.net/kwl5mrn.css">
		<script src="https://kit.fontawesome.com/24612b40c8.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<BG/>
		<div class="md:grid gap-20 pt-48 md:grid-cols-[180px_minmax(0,auto)] p-0 md:p-20 md:pr-32 font-serif">
			<Sidebar/>
			<Pagename name={pagename}/>
			<Contacts/>
			<div class="mt-1">
				<slot />
			</div>
		</div>
		<footer class="pb-52 md:pb-16">
			<PageTop/>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		font-weight: lighter;
		letter-spacing: 0.1rem;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
