---
import Layout from '../../layouts/Layout.astro';
import Works from '../../components/works/Works';
import { getWorks } from '../../lib/WP';

export async function getStaticPaths() {
    await getWorks({'per_page': "10"});
    return [{
        params: {
            page: "1"
        }}
    ];
}
---

<Layout title="" pagename="works">
	<main class="w-full">
		<Works client:load limited={false}/>
	</main>
</Layout>

<style>
	main {
	}
</style>

<script>
</script>